
#messageInput{
overflow: auto;
overflow-x: hidden;
}

#messageInput::-webkit-scrollbar-track{
background-color: #e2e2e2;
}

#messageInput::-webkit-scrollbar{
width: 6px;
background-color: #F5F5F5;
}

#messageInput::-webkit-scrollbar-thumb{
border-radius: 100px;
background-color: #545454;
}

#message-form {
margin: 0% auto;
box-sizing: border-box;
max-width: 950px;
text-align: center;
padding: 0px 45px 0 45px;
box-shadow: var(--color-main) 0 0 50px;
position: fixed !important;
bottom: 0;
left: 0;
right: 0;

}
.message-wrapper {
position: relative;
}

#messageInput {
background: var(--color-user-menu-hover);
border-radius: 13px;
width: 100%;
box-sizing: border-box;
border: 1px solid var(--color-user-message-border);
resize: none;
padding: 17px 85px 17px 15px;
font-family: inherit;
font-size: 1em;
box-shadow: rgba(0,0,0,0.2) 0 0 45px;
outline: none;
}

.sendInput {
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
background: var(--color-gpt3);
border-radius: 5px;
display: inline-block;
font-size: 1em;
padding: 7px 9px 7px 7px;
color: var(--color-white);
border: none;
margin-top: -2px;
}

button.sendInput:hover {
border: none;
}
